clearfix()
  &::before,
  &::after
    content ''
    clear both
    display table


hide-text()
  font unquote('0/0') a
  color transparent
  text-shadow none
  background-color transparent
  border 0