.col-lg-12.col-md-12.col-sm-12.hidden-xs
  .slider-hover
    .slider-hover-container
      .slider-title
        | Most popular
      .slider-navigator
        .slider-navigator-wrapper
          //- popular.topics.take(4).each do |topic|
          //= link_to content_url(topic), class: 'slider-navigator-dot js-hover-nav' do
          .slider-navigator-dot-pic.hidden-sm  style="background-image: url('')"
          .slider-navigator-dot-title
            //= topic.headline
      .slider-articles
        .slider-container
          .slider-wrapper.js-hover-slider
            //- popular.topics.take(4).each do |topic|
            .slider-item.js-hover-slide
              //= render 'contents/card', topic: topic, type: 'incut', bar: false, preview: false, tags: false, size: [1240, 340], height: 36

.col-xs-12.visible-xs
  .topic-popular
    .topic-popular-container
      .topic-popular-title
        | Most popular
      ul.topic-popular-list
        //- popular.topics.take(4).each_with_index do |topic, i|
        li.topic-popular-item
          .topic-popular-item-counter = i+1
          //= link_to content_url(topic)
          .topic-popular-item-image style="background-image: url('')"
          .topic-popular-item-title = topic.headline